<ion-view>
  <!--<ion-header-bar class="bar-stable">-->
    <!--<div style="position: absolute; left: 5px;">-->
      <!--<a class="button button-icon row"  ng-click="myGoBack()">-->
        <!--<i class="ion-android-arrow-back" style="font-size: 30px;"></i>-->
      <!--</a>-->
    <!--</div>-->
    <!--<h3 class="side-margin-auto">Touch2Buy</h3>-->
    <!--<div style="position: absolute; right: 5px;">-->
      <!--<a class="button button-icon row"  ng-click="myGoBack()">-->
        <!--<i class="ion-ios-search-strong" style="font-size: 30px;"></i>-->
      <!--</a>-->
    <!--</div>-->
  <!--</ion-header-bar>-->
  <ion-content style="margin-top: 20px">
    <div class="row bs-wizard" style="border-bottom:0;">
      <div class="col bs-wizard-step complete">
        <div class="align-center bs-wizard-stepnum success-step">Checkout</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info align-center">
        </div>
      </div>
      <div class="col bs-wizard-step disabled"><!-- complete -->
        <div class="align-center bs-wizard-stepnum success-step">Delivery</div>
        <div class="progress" style="left:50%; width:100%; "><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot-complete"></a>
        <div class="bs-wizard-info align-center">
        </div>
      </div>
      <div class="col bs-wizard-step disabled"><!-- active -->
        <div class="align-center bs-wizard-stepnum pending-step">Confirm</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info align-center">
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <md-input-container class="side-margin-auto">
          <label>Delivery Option</label>
          <md-select ng-model="checkoutCart.deliveryOption" >
            <md-option ng-repeat="deliveryOption in deliveryOptions" ng-value="deliveryOption.id" ng-selected="$index === 0">
              {{deliveryOption.description}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="row zero-padding">
        <a style="margin-left: auto; margin-right:10px" ng-click="addNew()"><i class="ion-plus-round"> add new</i></a>
      </div>
      <md-whiteframe class="md-whiteframe-3dp small-margin align-center" ng-show="addNewEnabled" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="display: inherit;">
        <div>
          <a style="position: absolute; right: 15px; font-size: 20px;" ng-click="closeAddNew()"><i class="ion-android-close"></i></a>
          <!--<div>-->
          <div class="row" style="padding-top: 20px;">
            <div class="col col-20 align-right">Name</div>
            <div class="col col-80 align-left">
              <div class="form-group" style="margin-bottom: 3px">
                <label class="item item-input three-quarter-width" style="height:28px; border-radius: 8px; " required>
                  <input type="text" placeholder="Name" ng-model="newAddress.name" name="merchant_code" required>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-20 align-right">Address</div>
            <div class="col col-80 align-left">
              <!--<div class="form-group" style="margin-bottom: 3px">-->
                <!--<label class="item item-input three-quarter-width" style=" border-radius: 8px; " required>-->
                    <!--<textarea rows="3" type="text" placeholder="Address" ng-model="userDetails.address" name="merchant_code" style="font-size: 14px;" required>-->
                    <!--</textarea>-->
                <!--</label>-->
              <!--</div>-->
              <div class="form-group">
                <label class="item item-input three-quarter-width" style=" border-radius: 8px; height:28px; margin: 2px 0px;" required>
                   <input type="text" class="full-width border-bottom-social" placeholder="Address Line 1" ng-model="newAddress.address.lineOne">
                </label>
                <label class="item item-input three-quarter-width" style=" border-radius: 8px; height:28px; margin: 2px 0px;" required>
                   <input type="text" class="full-width border-bottom-social" placeholder="Address Line 2" ng-model="newAddress.address.lineTwo">
                </label>
                <label class="item item-input three-quarter-width" style=" border-radius: 8px; height:28px; margin: 2px 0px;" required>
                  <input type="text" class="full-width border-bottom-social" placeholder="City" ng-model="newAddress.address.city">
                </label>
                <!--</label>-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-20 align-right">Mobile</div>
            <div class="col col-80 align-left">
              <div class="form-group" style="margin-bottom: 3px">
                <label class="item item-input three-quarter-width" style="height:28px; border-radius: 8px; " required>
                  <input type="tel" placeholder="Mobile" ng-model="newAddress.mobile" name="merchant_code" required>
                </label>
              </div>
            </div>
          </div>
          <div class="row" >
            <a class="button button-positive custom-height-button address-submit" ng-click="submitNewAddress()">
              submit
            </a>
          </div>
          <!--<div class="row" ng-if="!addNewEnabled">-->
            <!--<button class="button button-balanced custom-height-button address-submit" style="margin-top: -30px;" ng-click="confirmOrder();">-->
              <!--<i class="ion-android-bicycle"> </i> Deliver Here-->
            <!--</button>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </md-whiteframe>

      <md-whiteframe ng-repeat="address in addresses" class="md-whiteframe-3dp small-margin align-center" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="display: inherit;">
        <div>
            <a style="position: absolute; right: 15px;" ng-click="delete(address)"><i class="ion-android-delete"> delete</i></a>
            <a style="position: absolute; right: 80px;" ng-click="!address.editEnabled ? edit(address) : ''" ><i class="ion-edit"> edit</i></a>
            <!--<div>-->
            <div class="row" style="padding-top: 20px;">
              <div class="col col-20 align-right">Name</div>
              <div class="col col-80 align-left">
                <span ng-if="!address.editEnabled">{{address.contactName}}</span>
                <div ng-if="address.editEnabled" class="form-group" style="margin-bottom: 3px">
                  <label class="item item-input three-quarter-width" style="height:28px; border-radius: 8px; " required>
                      <input type="text" placeholder="Name" ng-model="selectedAddress.contactName" name="merchant_code" required>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-20 align-right">Address</div>
              <div class="col col-80 align-left">
                <span ng-if="!address.editEnabled">
                  <p>{{address.addressLine1}}</p>
                  <p>{{address.addressLine2}}</p>
                  <p>{{address.city}}</p>
                </span>
                <div ng-if="address.editEnabled" class="form-group" style="margin-bottom: 3px">
                  <!--<label class="item item-input three-quarter-width" style=" border-radius: 8px; " required>-->
                    <!--<textarea rows="3" type="text" placeholder="Address" ng-model="selectedAddress.address" name="merchant_code" style="font-size: 14px;" required>-->
                    <!--</textarea>-->
                  <!--</label>-->

                  <label class="item item-input three-quarter-width" style=" border-radius: 8px; height:28px; margin: 2px 0px;" required>
                    <input type="text" class="full-width border-bottom-social" placeholder="Address Line 1" ng-model="selectedAddress.addressLine1">
                  </label>
                  <label class="item item-input three-quarter-width" style=" border-radius: 8px; height:28px; margin: 2px 0px;" required>
                    <input type="text" class="full-width border-bottom-social" placeholder="Address Line 2" ng-model="selectedAddress.addressLine2">
                  </label>
                  <label class="item item-input three-quarter-width" style=" border-radius: 8px; height:28px; margin: 2px 0px;" required>
                    <input type="text" class="full-width border-bottom-social" placeholder="City" ng-model="selectedAddress.city">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-20 align-right">Mobile</div>
              <div class="col col-80 align-left">
                <span ng-if="!address.editEnabled">{{address.telephone}}</span>
                <div ng-if="address.editEnabled" class="form-group" style="margin-bottom: 3px">
                  <label class="item item-input three-quarter-width" style="height:28px; border-radius: 8px; " required>
                    <input type="tel" placeholder="Mobile" ng-model="selectedAddress.telephone" name="merchant_code" required>
                  </label>
                </div>
              </div>
            </div>
          <div class="row" ng-if="address.editEnabled">
            <a class="button button-positive custom-height-button address-submit" ng-click="editAddress(selectedAddress)">
              submit
            </a>
          </div>
          <div class="row" ng-if="!address.editEnabled">
            <a class="button button-balanced custom-height-button address-submit" style="margin-top: -30px;" ng-click="deleverHere(address);">
              <i class="ion-android-bicycle"> </i> Deliver Here
            </a>
          </div>
          <!--</div>-->
        </div>
      </md-whiteframe>
    </div>
  </ion-content>
</ion-view>
